.App {
  height: 100%;
  text-align: center;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.25s;

  --header-height: 4rem;
}

.App div {
  display: flex;
}

.App .hidden {
  display: none;
}



.App header {
  flex: 0 0 auto;
  border-bottom: var(--border-color) solid var(--thin-border-size);
  height: var(--header-height);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.App header .back-btn {
  flex: 0 0 auto;
  border-right: var(--border-color) solid var(--thin-border-size);
  height: 100%;
  width: var(--header-height);
}

.App header h1 {
  flex: 1 1 auto;
}

.App header .toolbar {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--small-spacing);
  padding: 0 var(--small-spacing);
  height: var(--header-height);
  min-width: var(--header-height);
}

.App main {
  display: flex;
  flex: 1 1 auto;
  min-height: 0;
  overflow-y: auto;
  padding: var(--normal-spacing);
  width: 100%;
  box-sizing: border-box;
}


.App .class-list-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--normal-spacing);
}

.App .class-list-page .list {
  min-width: 50vw;
  max-width: 100%;
  box-sizing: border-box;
}


.App .student-list-dialog .student-line {
  display: flex;
  flex-direction: row;
  gap: var(--normal-spacing);
}

.App .student-list-dialog .student-line .toolbar {
  display: flex;
  flex-direction: row;
  gap: var(--small-spacing);
}


.App .class-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.App .class-page .no-student-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--bigger-font-size);
  position: absolute;
  background-color: color-mix(in srgb, var(--text-color) 50%, #00000000);
  color: var(--background-color);
  padding: var(--normal-spacing);
  border-radius: var(--border-radius);
  border: var(--thin-border-size) solid var(--border-color);
}

.App .class-page .wheel-ctn {
  width: 100%;
  height: 100%;
}
