h1 {
  font-size: var(--huge-font-size);
  font-weight: var(--normal-font-bold);
}


/* Bouton */
.btn {
  border-radius: var(--border-radius);
  padding: var(--small-spacing);
  font-weight: var(--normal-font-bold);
  cursor: pointer;
  background-color: var(--active-color);
  border: none;
  color: var(--text-color);
  font-size: var(--normal-font-size);
}

.btn:hover {
  box-shadow: var(--active-color) 0 0 var(--large-border-size) var(--large-border-size);
  outline: var(--thin-border-size) solid var(--text-color);
}

.btn:active {
  box-shadow: inset var(--bland-color) 0 0 var(--large-border-size) var(--large-border-size);
}

.btn.secondary {
  background-color: var(--text-color);
  color: var(--active-color);
  outline: var(--thin-border-size) solid var(--active-color);
}

.btn.btn-icon {
  height: calc(var(--normal-font-size) + 2 * var(--small-spacing));
  width: calc(var(--normal-font-size) + 2 * var(--small-spacing));
  display: flex;
  padding: var(--small-spacing);
  align-items: center;
  justify-content: center;
}

.btn.large {
  font-size: var(--bigger-font-size);
  padding: var(--normal-spacing);
}

.back-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  border: none;
  color: var(--text-color);
  cursor: pointer;
}

.back-btn:hover {
  background-color: var(--text-color);
  color: var(--active-color);
}

.back-btn:active {
  box-shadow: inset var(--bland-color) 0 0 var(--large-border-size) var(--large-border-size);
}

/* Liste d'éléments */
.list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  gap: var(--normal-spacing);
}

.list .item {
  background-color: var(--text-color);
  color: var(--background-color);
  border-radius: var(--border-radius);
  padding: var(--small-spacing) var(--normal-spacing);
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: var(--normal-spacing);
  min-height: calc(var(--normal-font-size) + 2 * var(--small-spacing));
}

.list .item.active {
  cursor: pointer;
}

.list .item.active:hover {
  box-shadow: var(--active-color) 0 0 var(--large-border-size) var(--large-border-size);
}

.list .item.active:active {
  box-shadow: inset var(--bland-color) 0 0 var(--large-border-size) var(--large-border-size);
}

.list .item .item-title {
  font-weight: var(--normal-font-bold);
  font-size: var(--big-font-size);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list .item .item-content {
  flex: 1 1 auto;
  min-width: 0;
}

.list .item .actions {
  flex: 0 0 auto;
  gap: var(--small-spacing);
}

.list .item .actions .btn {
  outline: var(--thin-border-size) solid var(--active-color);
  background-color: var(--text-color);
  color: var(--active-color);
}


/* Boite de dialogue */
dialog {
  border: var(--normal-border-size) solid var(--background-color);
  border-radius: var(--border-radius);
  padding: var(--normal-spacing);
}

::backdrop {
  background-color: var(--bland-color);
  opacity: 0.75;
}

dialog .dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--normal-spacing);
}

dialog .dialog-content .dialog-title {
  flex: 0 0 auto;
  font-size: var(--big-font-size);
  padding-bottom: var(--small-spacing);
}

dialog .dialog-content .dialog-buttons {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--normal-spacing);
  width: 100%;
  border-top: var(--thin-border-size) solid var(--border-color);
  padding-top: var(--normal-spacing);
}

dialog .dialog-content .dialog-buttons .btn {
  flex: 1 1 0;
}


/* Formulaire */
.input-field {
  display: flex;
  flex-direction: row;
  gap: var(--normal-spacing);
  align-items: center;
}

input[type='text'] {
  appearance: none;
  outline: var(--thin-border-size) solid var(--border-color);
  padding: var(--small-spacing);
  border-radius: var(--border-radius);
  border: none;
}

input[type='text']:focus-within, input[type='text']:active {
  outline-color: var(--active-color);
  box-shadow: var(--active-color) 0 0 var(--thin-border-size) var(--thin-border-size);
}


/* Roue */
.wheel-ctn {
  flex: 1 1 auto;
  display: flex;
  gap: var(--normal-spacing);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.wheel-ctn .wheel {
  display: flex;
  flex: 1 1 auto;
  max-height: 100%;
  max-width: 100%;
  min-height: 0;
  min-width: 0;
}

.wheel-ctn .wheel .wheel-arcs .wheel-arc-group .wheel-arc {
  stroke: var(--text-color);
}

.wheel-ctn .wheel .wheel-arcs .wheel-arc-group:first-child:last-child .wheel-arc {
  stroke: none;
}

.wheel-ctn .wheel .wheel-arcs .wheel-arc-group:nth-child(odd) .wheel-arc {
  fill: color-mix(in srgb, var(--active-color) 25%, var(--text-color) 75%);
}
.wheel-ctn .wheel .wheel-arcs .wheel-arc-group:nth-child(even) .wheel-arc {
  fill: color-mix(in srgb, var(--active-color) 25%, var(--background-color) 75%);
}

.wheel-ctn .wheel .wheel-arcs .wheel-arc-group:nth-child(odd) .wheel-arc-text {
  fill: var(--background-color);
}
.wheel-ctn .wheel .wheel-arcs .wheel-arc-group:nth-child(even) .wheel-arc-text {
  fill: var(--text-color);
}

.wheel-ctn .wheel .wheel-arcs {
  --rotation: 0;
  transform-origin: center;
}

.wheel-ctn .wheel .wheel-arcs.rotating {
  animation: wheel-rotate 5s ease-in-out 1 normal forwards;
}

@keyframes wheel-rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(var(--rotation));
  }
}
